<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>
        Welcome to the "Profile" page.
    </h1>
    <%- include ('common/header')%>
    <h3>Hi! <%=user.name%></h3>
    <h3>Email: <%=user.email%></h3>
    <h3>City: <%=user.city%></h3>
    <ul><h3>Skills:</h3>
        <% user.skills.forEach((item) => {%>
            <li><%=item%></li>
        <%})%>
    </ul>
</body>
</html>